body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth; /* Scroll fluid */
  background: linear-gradient(
    to bottom,
    white,
    white,
    #c9dfe8,
    #c9dfe8,
    #c9dfe8,
    #a7d6e9,
    #a7d6e9,
    #02aab0,
    #02aab0,
    #02aab0,
    #097967,
    #097967,
    #044243,
    #044243
  );
}

.scroll-container {
  scroll-snap-type: y mandatory; /* Activează scroll snapping pe axa verticală */
  overflow-y: scroll;
  height: 100vh; /* Containerul să ocupe întreaga înălțime a viewport-ului */
}

.section {
  scroll-snap-align: start; /* Alinierea secțiunilor la început */
  height: 100vh; /* Fiecare secțiune să ocupe întreaga înălțime a viewport-ului */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 20px;
}

/* Stiluri pentru butoane */
.menu-button1,
.menu-button2,
.menu-button3,
.menu-button4 {
  background-image: linear-gradient(
    to right,
    #02aab0 0%,
    #097967 51%,
    #044243 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  width: 120px;
  height: 76px;
  margin-left: -1px;
}

.menu-button1 {
  border-radius: 15px 0 0 15px;
}

.menu-button2,
.menu-button3 {
  border-radius: 0;
}

.menu-button4 {
  border-radius: 0 15px 15px 0;
  border-right: none;
}

.image-container {
  position: relative;
  width: 85%;
  margin: auto;
}

#poza-sanda-1 {
  width: 100%;
  max-width: 1200px;
  height: 600px;
  object-fit: cover;
  padding: 5px;
  border: 5px solid #065659;
  border-radius: 10px;
  filter: grayscale(75%);
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 55px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  text-align: center;
}

/* Container pentru sidebar și text-box */
.content-container {
  display: flex;
  justify-content: flex-start;
  margin: 20px auto;
  width: 100%;
  margin-left: 107px;
  height: auto;
}

/* Sidebar pe partea stângă */
.sidebar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 5px;
}

.vertical-image img {
  width: 270px;
  height: 450px;
  border: 5px solid #044243;
  border-radius: 10px;
}

/* Text-box pe partea dreaptă */
.text-box {
  padding: 10px;
  border: 5px solid #044243;
  border-radius: 10px;
  background-color: #f0f0f0;
  width: 900px;
  margin-left: 5px;
  display: inline-block;
  background-color: antiquewhite;
}

.despre-amway {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin-left: -10px;
}

.image-container-amway {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

#poza-amway-prezentare {
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 5px solid #044243;
  margin-left: -11px;
}

.text-box-amway {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  margin-top: 10px;
  background-color: antiquewhite;
  border: 2px solid #044243;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.image-container-amway img {
  transition: transform 0.3s ease, filter 0.3s ease; /* Animație pentru transformare și filtru */
}

.image-container-amway img:hover {
  transform: scale(1.05); /* Scalează imaginea cu 5% */
  filter: brightness(80%); /* Întunecă imaginea cu 20% */
}
