/* Stiluri pentru butoane */
.menu-button1,
.menu-button2,
.menu-button3,
.menu-button4 {
  background-image: linear-gradient(
    to right,
    #02aab0 0%,
    #097967 51%,
    #044243 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  width: 140px;
  height: 76px;
}

.menu-button1 {
  border-radius: 15px 0 0 15px;
}

.menu-button2,
.menu-button3 {
  border-radius: 0;
}

.menu-button4 {
  border-radius: 0 15px 15px 0;
  border-right: none;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .menu-container {
    grid-template-columns: repeat(2, auto);
  }
  .menu-button1 {
    border-radius: 15px 0 0 0;
  }
  .menu-button4 {
    border-radius: 0 0 15px 0;
  }
  .menu-button1,
  .menu-button2,
  .menu-button3,
  .menu-button4 {
    width: 150px;
  }
}
