body {
  background: linear-gradient(
    to bottom,
    white,
    white,
    #c9dfe8,
    #c9dfe8,
    #c9dfe8,
    #a7d6e9,
    #a7d6e9,
    #02aab0,
    #02aab0,
    #02aab0,
    #097967,
    #097967,
    #044243,
    #044243
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0px;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

/* Stiluri pentru butoane */
.menu-button1,
.menu-button2,
.menu-button3,
.menu-button4 {
  background-image: linear-gradient(
    to right,
    #02aab0 0%,
    #097967 51%,
    #044243 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  width: 140px;
  height: 76px;
}

.menu-button1 {
  border-radius: 15px 0 0 15px;
}

.menu-button2,
.menu-button3 {
  border-radius: 0;
}

.menu-button4 {
  border-radius: 0 15px 15px 0;
  border-right: none;
}
.menu-image {
  border-style: solid;
  border-radius: 50%;
  border: 5.7px solid rgb(17, 144, 166);
  width: 125px;
  height: 125px;
  position: absolute;
  left: 50px;
  top: 5px;
}
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.contact-container h1 {
  margin-bottom: 110px; /* Ajustează valoarea pentru a schimba spațiul */
}
.contact-methods {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.contact-method {
  text-align: center;
  width: 160px; /* Setează o lățime fixă pentru toate casetele */
  height: 150px; /* Setează o înălțime fixă pentru toate casetele */
  margin: 0 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.icon img {
  width: 50px;
  height: 50px;
}
.details h2 {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
}
.details p {
  margin-top: 5px;
  color: #777;
  font-size: 16px;
}

.menu-plus-image {
  flex-direction: row;
  display: flex;
}

@media only screen and (max-width: 1000px) {
  .menu-container {
    grid-template-columns: repeat(2, auto);
  }
  .menu-button1 {
    border-radius: 15px 0 0 0;
  }
  .menu-button4 {
    border-radius: 0 0 15px 0;
  }
  .menu-button1,
  .menu-button2,
  .menu-button3,
  .menu-button4 {
    width: 150px;
  }
  .menu-image {
    align-self: center;
    left: 0%;
    position: relative;
  }

  .contact-container {
    width: 80%;
  }

  .contact-methods {
    flex-direction: column;
    width: 100%;
  }
  .contact-method {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .menu-plus-image {
    flex-direction: column;
    justify-content: left;
  }

  .icon {
    margin-top: 15px;
  }

  .contact-method {
    margin-top: 10px;
  }
}

@media only screen and (min-width: 850px) and (max-width: 1000px) {
  .icon img {
    width: 70px;
    height: 55px;
  }

  .details h2 {
    font-size: 22px; /* Ajustează dimensiunea h2 */
  }

  .details p {
    font-size: 20px; /* Ajustează dimensiunea p */
  }

  .menu-button1,
  .menu-button2,
  .menu-button3,
  .menu-button4 {
    width: 250px;
    font-size: 20px;
  }
}
